.checkout {
  height: max-content;
  display: flex;
  padding: 20px;
  background-color: white;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}

/* Subtotals Compoenet */

.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.subtotal__gift {
  display: flex;
  align-items: center;
}

.subtotal__gift > input {
  margin-right: 5px;
}

.subtotal > button {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  padding: 6px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
}

/* CheckoutProduct Component */

.checkoutProduct {
  display: flex;
  margin-bottom: 16px;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

.checkout__img {
  width: 150px;
  object-fit: contain;
}

.checkoutProduct__info {
  margin-left: 16px;
}

.checkoutProduct__info > .product__title {
  width: 60ch;
}

.checkoutProduct__info > .product__price {
  margin: 0;
}

.removefrombasket__btn {
  padding: 3px 16px !important;
}
