.header {
  height: 70px;
  margin: 0 auto;
  padding: 0 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: sticky;
  z-index: 100;
  transition: 350ms all;
}

.Bk--active {
  background-color: #416eff;
}

.logo {
  width: 140px;
  object-fit: contain;
  margin: 10px 20px 0;
}

.addCart__icon {
  height: 35px;
  width: 35px;
  object-fit: contain;
}

.header__nav,
.header__option,
.header__addCart__option,
.header__nav {
  display: flex;
}

.header__nav {
  justify-content: space-evenly;
}

.header__option {
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 10px;
}

.option__toptxt,
.option__bottomtxt,
.cart__Items {
  /* color: white; */
}

.option__toptxt {
  font-size: 13px;
}

.option__bottomtxt {
  font-size: 13px;
  font-weight: 800;
}

.header__addCart__option {
  position: relative;
}

.cart__Items {
  margin-left: 3px;
  font-size: 24px;
}

@media (max-width: 425px) {
  .header {
    padding: 0 6px;
  }
  .logo {
    width: 100px;
    margin: 0;
  }
}
