.home {
  display: grid;
  place-items: center;
}

.home__banner-img {
  width: 100%;
  z-index: -1;
  margin-top: -70px;
  margin-bottom: -250px;
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0));
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
}

.home__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 16px;
  padding-bottom: 20px;
}

@media (max-width: 709px) {
  .home__banner-img {
    margin-bottom: -33px;
  }

  .container {
    width: 90%;
  }
}
